<div class="email-footer">
  <p class="copyright">© {{currentYear}} {{companyName}}. All rights reserved.</p>
  <p class="contact-info">
    <a href="mailto:{{supportEmail}}" class="footer-link">{{supportEmail}}</a>
    |
    <a href="{{websiteUrl}}" class="footer-link">{{websiteUrl}}</a>
  </p>
  <p class="disclaimer">{{disclaimer}}</p>
</div>